
<!-- <%# if session[:user_id] != nil %>
  <h3> Welcome, <%# @user.name %>!</h3>
<%# else %>
  <h3> Please log in </h3>
<%# end %> -->

<%# search_form_for @q do |f| %>
  <%# f.search_field :name_or_description_cont, placeholder: "Search Products"%>
  <%# f.submit "search" %>
<%# end %>

<div class="large-12 columns">
  <div class="homepage">
    <h2>Featured pets</h2>
  </div>
</div>


<div class="row small-up-1 medium-up-2 large-up-3" data-equalizer data-equalize-on="true">
  <% @chosen_pets.each do |pet| %>
    <div class="column">
      <div class="callout" id="featured-image">
        <%# image_tag pet.picture, alt: "#{pet.name} image"  %>
        <%= link_to(image_tag(pet.picture, alt: "#{pet.name} image"), product_path(pet.id))%>
        <p><%= link_to(pet.name.capitalize, product_path(pet.id)) %></p>
      </div>
    </div>
  <% end %>
</div>


  <% if flash[:notice] %>
    <hr/>
    <p class="flash-notice">
      <%= flash[:notice] %>
    </p>
  <% end %>
