  @import url('foundation.css');


.stars {
  display: inline;
}

img {
  height: 20rem;
  width: auto;
}

h1, h2, h3, h4 {
  font-family: Chewy;
}

h1 {
  font-size: 6em;
  text-align: center;
}

.image-wrapper {
    position: relative;
    width: 90%;
}

.image-wrapper h1 {
    position: absolute;
    left: 35%;
    top: -10%;
    padding: 5%;
}

nav li, nav p{
  display: inline;
}

td {
  text-align: center;
}

ul {
  list-style-type: none;
}

.top-bar {
  background-color: #33b873;
  color: #33b873;
}
.top-bar *, .top-bar ul{
  background-color: #33b873;
}

.top-bar p a{
  color: white;
  font-size: 1.5em;
  font-family: Open Sans;
  text-decoration: none;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
}



/*-- PRODUCTS // BY_MERCHANT --*/
.product-card {
  text-align: center;
  padding: 2rem;
}

.merchant-name {
  font-size: 4rem;
}

/*-- USERS // INDEX --*/
.merchant-card {
  text-align: center;
  padding: 2rem;
}

.merchant-card h3 {
  font-family: Chewy;
}




/* Erin */
.profile-pic {
  width: 50%;
  float: right;
  margin-top: -8%;
  padding: 1%;
}

.name {
  font-size: 4em;
}

.profile-page, .order-form{
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}

header image{
  padding: -5%;
}

footer {
  background-color: #33b873;
  color: white;
  font-size: 1em;
  font-family: Open Sans;
  text-decoration: none;
  padding: 3%;
}

.av-product-rating *, .profile-links *{
  display: inline;
}

.profile-pic * {
  border-radius: 5%;
}

p, h5{
  font-family: Open Sans;
}

.hidden {
  color: white;
  font-size: .25em;
}

a:hover{
  // opacity: .75;
  color: #33b873;
}

.order-form, .product-form {
  font-family: Chewy;
  margin-left: 20%;
}

.order-form input, .product-form input{
  font-family: Open Sans;
}

.submit {
  font-size: 1em;
  background-color: lightgray;
  border-radius: 10%;
}

label {
  font-size: 1.25em;
}

/* Erin */


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
