<h1><%= @merchant.username %></h1>
<% if !@products.empty? %>
<section class="row small-up-1 medium-up-1 large-up-2">
  <% @products.each do |product| %>
    <% if product.active %>
      <div class="product-card column">
        <h4><%= link_to(product.name, product_path(product.id)) %></h4>
        <h6><%= number_to_currency(product.price/100) %></h6>
        <image><%= image_tag(product.picture)%></image>
      </div>
    <% end %>
  <% end %>
</section>
<% else %>
  Merchant currently has no items for sale.
<% end %>
